<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LUISKey" value="xxxx"/>
    <add key="TTSKey" value="xxxx"/>
    <add key="SpeechEndpoint" value="xxxx"/>
    <add key="TextTranslate" value="xxxx"/>
    <add key="LUISRegion" value="xxxx"/>
    <add key="Region" value="xxxx"/>
    <add key="LUISId" value="xxxx"/>
  </appSettings>
</configuration>
