<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SpeechKey" value="421bec868d334e249897e9b2432af7b9"/>
    <add key="TTSKey" value="9b38589c506c4091aa831e4d4ee9948a"/>
    <add key="Region" value="eastus2"/>
    <add key="LUISId" value="65332712-8c79-41b5-86bb-841c663e210a"/>
  </appSettings>
</configuration>
